---
import { Image } from 'astro:assets';
import H1 from "../components/h1.astro";
import InfoLayout from "../layouts/InfoLayout.astro";
import Meloso from "../assets/Meloso.png";
import Banana from "../assets/Banana.png";
import OSPA from "../assets/OSPA.png";

const projects = [
     {
          title: "Meloso Brunch",
          description: "Web moderna y amigable para Melosobrunch Brunch & Coffee con chatbot vectorial integrado",
          image: Meloso
     },
     {
          title: "Banana Verde",
          description: "Web moderna, colorida y responsive para el chiringuito Banana Verde",
          image: Banana
     },
     {
          title: "O'SPA",
          description: "Web moderna inspirada en el sector cinematográfico para el local O'SPA",
          image: OSPA
     }];
---

<InfoLayout>
     <div class="p-4 sm:pt-8 sm:px-12 pb-20 min-h-dvh">
          <H1> Proyectos </H1>

          <ul class="mt-4 sm:mt-12 grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-26 sm:gap-8">
               {projects.map((project) => (
                    <li>
                         <a class="group block hover:scale-105 hover:shadow-2xl hover:shadow-blue-500/25 transition-all duration-300 hover:-translate-y-2 hover:bg-blue-900/20 rounded-xl p-4 sm:p-6 border border-blue-500/20 hover:border-blue-400 h-full w-96">
                              <div class="flex flex-col h-full">  <!-- ← Contenedor flex vertical -->
                                   <div class="flex-shrink-0 mb-4">  <!-- ← Imagen fija -->
                                        <img 
                                        src={project.image.src} 
                                        alt={project.title} 
                                        width={project.image.width}
                                        height={project.image.height}
                                        class="w-full aspect-[1.5/0.84375] object-center object-cover rounded-lg shadow-lg"
                                        />
                                   </div>
                                   <div class="flex-1 flex flex-col justify-end p-1 sm:p-2">  <!-- ← Texto ocupa resto -->
                                        <h2 class="text-base text-zinc-100 font-semibold mb-1">{project.title}</h2>
                                        <p class="text-sm text-zinc-400 text-balance flex-1">{project.description}</p>
                                   </div>
                              </div>
                         </a>

                    </li>
               ))}
          </ul>
     </div>
</InfoLayout>
